<ion-header>
  <ion-navbar align-title="left">
    <ion-title>
      Turnier App
    </ion-title>
    <ion-buttons end>
      <button ion-button class="orange" solid icon-right (click)="newTournament()" style="marginright:12px;
padding:21px 16px 21px 16px">Neues Turnier
        <ion-icon name="md-add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <ion-list>
    <ion-item *ngFor="let item of tournaments | async; let i = index;" [ngClass]="getClass(i)" (click)="goToTournament(item)">
      <ion-grid>
        <ion-row>
          <ion-col>
            <h1>{{item.name}}</h1>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <h2>Aktuelle Spiele:</h2>
          </ion-col>
        </ion-row>
        <ion-row *ngFor="let game of item.getNextGames()">
          <ion-col>
            <p>{{game.team1Name}}</p>
          </ion-col>
          <ion-col>
            <p>{{game.team2Name}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
