<ion-header class="blue">
  <ion-navbar text-left>
    <ion-title>
      Turnier App
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding class="green">
  <ion-list>
    <ion-item-divider class="green">
      <h1>Rangliste</h1>
    </ion-item-divider>
    <ion-item class="green">
      <ion-row>
        <ion-col></ion-col>
        <ion-col>Name</ion-col>
        <ion-col>S</ion-col>
        <ion-col>U</ion-col>
        <ion-col>N</ion-col>
        <ion-col>P</ion-col>
      </ion-row>
    </ion-item>
    <ion-item class="green" *ngFor="let ranking of tournament.getRanking(); let i = index;">
      <ion-grid>
        <ion-row>
          <ion-col width-25>
            {{i+1}}.
          </ion-col>
          <ion-col>
            {{ranking.teamName}}
          </ion-col>
<!--          <ion-col float-right>
            {{ranking.pointsFor}}
          </ion-col>
          <ion-col float-right>
            {{ranking.pointsAgainst}}
          </ion-col>-->
          <ion-col float-right>
            {{ranking.wins}}
          </ion-col>
          <ion-col float-right>
            {{ranking.draws}}
          </ion-col>
          <ion-col float-right>
            {{ranking.losses}}
          </ion-col>
          <ion-col float-right>
            {{ranking.points}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item-divider class="orange">
      <h1>Spielplan</h1>
    </ion-item-divider>
    <ion-item class="orange" *ngFor="let game of tournament.getFixture()" (click)="addResult(game)">
      <ion-grid>
        <ion-row>
          <ion-col>
            {{game.team1Name}}
          </ion-col>
          <ion-col>
            {{game.team2Name}}
          </ion-col>
          <ion-col>
            Resultat <ion-icon name="open"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item-divider class="red">
      <h1>Resultate</h1>
    </ion-item-divider>
    <ion-item class="red" *ngFor="let game of tournament.getResults(); let i = index;">
      <ion-grid>
        <ion-row>
          <ion-col>
            {{game.team1Name}}
          </ion-col>
          <ion-col>
            {{game.team2Name}}
          </ion-col>
          <ion-col>
            {{game.score1}}
          </ion-col>
          <ion-col>
            {{game.score2}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
