<ion-header class="blue">
  <ion-navbar text-left>
    <ion-title>
      {{tournament.name}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding class="green">
  <ion-list>
    <ion-item-divider class="green">
      <h1>Rangliste</h1>
    </ion-item-divider>
    <ion-item-divider class="green" no-padding>
      <ion-row>
        <ion-col offset-4>S</ion-col>
        <ion-col>U</ion-col>
        <ion-col>N</ion-col>
        <ion-col>P</ion-col>
      </ion-row>
    </ion-item-divider>
    <ion-item class="green" no-padding *ngFor="let ranking of tournament.getRanking(); let i = index;">
      <ion-grid text-left>
        <ion-row>
          <ion-col>
            {{i+1}}.
          </ion-col>
          <ion-col>
            {{ranking.teamName}}
          </ion-col>
<!--          <ion-col float-right>
            {{ranking.pointsFor}}
          </ion-col>
          <ion-col float-right>
            {{ranking.pointsAgainst}}
          </ion-col>-->
          <ion-col>
            {{ranking.wins}}
          </ion-col>
          <ion-col>
            {{ranking.draws}}
          </ion-col>
          <ion-col>
            {{ranking.losses}}
          </ion-col>
          <ion-col>
            {{ranking.points}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item-divider class="orange">
      <h1>Spielplan</h1>
    </ion-item-divider>
    <ion-item class="orange" *ngFor="let game of tournament.getFixture()" (click)="addResult(game)">
      <ion-grid>
        <ion-row>
          <ion-col>
            {{game.team1Name}}
          </ion-col>
          <ion-col>
            {{game.team2Name}}
          </ion-col>
          <ion-col>
            Resultat <ion-icon name="open"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item-divider class="red">
      <h1>Resultate</h1>
    </ion-item-divider>
    <ion-item class="red" *ngFor="let game of tournament.getResults(); let i = index;">
      <ion-grid>
        <ion-row>
          <ion-col>
            {{game.team1Name}}
          </ion-col>
          <ion-col>
            {{game.team2Name}}
          </ion-col>
          <ion-col>
            {{game.score1}}
          </ion-col>
          <ion-col>
            {{game.score2}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item *ngIf="tournament.getResults().length == 0" class="red">
    <ion-row>Keine Resultate vorhanden</ion-row>
    </ion-item>
    <ion-item-divider class="blue">
      <h1>Mitteilungen</h1>
    </ion-item-divider>
    <ion-item class="blue" *ngFor="let notification of tournament.notifications;">
            {{notification.message}}
    </ion-item>
    <ion-item *ngIf="tournament.notifications.length == 0" class="blue">
      <ion-row>Keine Mitteilungen vorhanden</ion-row>
    </ion-item>
  </ion-list>
  <ion-fab bottom right large>
    <button ion-fab mini class="blue" (click)="addNotification()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
